<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Node Mongoose Template Application</title>
</head>

<body>
    <header></header>

    <section id="main" class="container">
        <h1>Node Mongosse Template Application</h1>

        <p>
            <ul>
                <li>Find all users: <a href="/users">/users</a>
                </li>
                <li>Populate the users database: <a href="/users/populate">/users/populate</a>
                </li>
            </ul>
        </p>
    </section>

    <footer></footer>
</body>

</html>
